<!DOCTYPE html> 
<html>
<head>
<title>cak.es</title>

<style type='text/css'>
body { margin: 0; padding: 0; font-family: 'Adobe Caslon Pro', 'Caslon', 'Garamond', 'Goudy', serif; font-size: 14pt; }
#container { width: 800px; margin: 0 auto; }
h1 { font-size: 4em; margin: 0; padding: 0; -webkit-margin-after: 0; }
#contents { padding: 0 0 30px 0; }
#cake { margin-top: -25px; }
</style>

</head>
<body>

<div id="container">
    <div id="masthead">
    <h1>cak.es</h1>
    </div>
    <div id="contents">
    {% block contents %}
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
    </form>
    {% endblock contents %}
    </div>
    <div id="footer">
    <a href="/">Home</a> | <a href="/api/">API</a> | <a href="https://github.com/aldeka/shortcake/">Source</a>
    </div>
</div>
</body>
</html>
