<!DOCTYPE html> 
<html>
<head>
<title>cak.es</title>

<style type='text/css'>
body { margin: 0; padding: 0; font-family: 'Garamond', 'Palatino', 'Goudy', serif; font-size: 14pt;}
h1 { font-size: 3em; margin-top: 0;}
#container { width: 800px; margin: 0 auto;}
</style>

</head>
<body>

<div id="container">
    <div id="masthead">
    <h1>cak.es</h1>
    </div>
    <div id="contents">
    {% block contents %}
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
    </form>
    {% endblock contents %}
    </div>

</div>
</body>
</html>
