{% extends "index.html" %}

{% block contents %}
<pre>
             __.......__
        ,-"``           ``"-.
        |;------.-'      _.-'\
        ||______|`  ' ' `    |
        ||------|            |
       _;|______|            |_
     (```"""""""|            |``)
     \'._       '-.........-'_.'/
      '._`""===........===""`_.'
         ``"""=========="""``
</pre>

<p>Here's your shortened URL: <a href="{{ shurl.short_url }}">{{ shurl.short_url }}</a></p>

<p><a href="/">&laquo; Back</a></p>
{% endblock %}
